/* Mobile Small */

@media (max-width: 320px) {
}

/* Mobile Medium */

@media (max-width: 375px) {
}

/* Mobile XL */

@media (max-width: 600px) {
}

/* Tablet */

@media (max-width: 768px) {
  nav {
    flex-wrap: wrap;
  }

  .hamburger {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
  }

  .logo {
    height: 80px;
  }

  .nav-links {
    display: none;
    flex-basis: 100%;
    background-color: var(--text-color-light);
  }

  .nav-links li {
    flex-basis: 100%;
  }

  .nav-links a {
    text-align: center;
    font-size: 20px;
  }

  .nav-links a:hover {
    color: var(--first-color);
  }

  .nav-links .nav-cat-button {
    padding: 30px 16px;
    margin-left: 0;
    border: none;
    border-radius: 0;
    margin-bottom: 20px;
  }

  .nav-links .nav-cat-button:hover {
    color: var(--first-color);
  }
}

/* Small Laptop */

@media (max-width: 1024px) {
}

/* Desktop */

@media (max-width: 1280px) {
}

/* Large Desktop */

@media (max-width: 1440px) {
}
