/* Mobile Small */

@media (max-width: 320px) {
}

/* Mobile Medium */

@media (max-width: 375px) {
}

/* Mobile Large */

@media (max-width: 425px) {
}

/* Mobile XL */

@media (max-width: 600px) {
}

/* Tablet */

@media (max-width: 768px) {
}

/* Small Laptop */

@media (max-width: 1024px) {
}

/* Desktop */

@media (max-width: 1280px) {
}

/* Large Desktop */

@media (max-width: 1440px) {
}
