body {
  font-family: "Poppins", "Exo", sans-serif;
  background-color: var(--body-color);
  color: var(--white-color);
}

/* Poppins Font */

@font-face {
  font-family: "Poppins";
  src: url("/assets/font/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/font/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/font/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/font/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/font/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/font/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/font/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/font/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/font/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

/* Exo Font */

@font-face {
  font-family: "Exo";
  src: url("/assets/font/Exo-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Exo";
  src: url("/assets/font/Exo-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Exo";
  src: url("/assets/font/Exo-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Exo";
  src: url("/assets/font/Exo-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Exo";
  src: url("/assets/font/Exo-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Exo";
  src: url("/assets/font/Exo-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Exo";
  src: url("/assets/font/Exo-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Exo";
  src: url("/assets/font/Exo-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Exo";
  src: url("/assets/font/Exo-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

:root {
  --first-color-alt: hsl(219, 67%, 52%);
  --first-color: hsl(220, 67%, 56%);
  --title-color: hsl(210, 9%, 95%);
  --text-color: hsl(210, 12%, 74%);
  --text-color-light: hsl(225, 4%, 55%);
  --white-color: hsl(0, 0%, 100%);
  --body-color: hsl(240, 8%, 4%);
  --container-color: hsl(210, 5%, 7%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  background-image: url(/assets/img/shape\ big.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 35rem;
  padding: 4rem;
  margin-top: -3rem;
}

.header__logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-family: Exo;
  font-weight: 500;
}

.header__menu ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

.header__menu a {
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
  color: var(--title-color);
}

.header__menu a:hover {
  cursor: pointer;
  color: var(--first-color);
}

.header__shape_Desktop {
  display: block;
}

.header__shape_Desktop {
  display: block;
}

.nav__svg {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

/* nav */

.nav__svg p {
  color: var(--text-color);
}

nav {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: -25%;
}

nav h1 {
  font-family: Exo;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

nav > p {
  font-family: Exo;
  font-weight: 500;
  font-size: 1.4rem;
  margin: 0.5rem;
}

.shape__small {
  margin-left: 71.8%;
  margin-top: -15%;
}

.Home__car {
  margin-top: 3rem;
}

.nav__temp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
}

.nav__temp p {
  margin-top: -1.5rem;
  color: var(--text-color-light);
}

.nav__temp h1 {
  font-size: 1.5rem;
}

.nav__temps {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin-top: -25%;
  margin-left: -2rem;
  gap: 7rem;
}

.start-section {
  position: relative;
  width: 100px;
  height: 100px;
  margin-right: 1rem;
  margin-top: 4rem;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.start-section .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.start-section .start-text {
  position: absolute;
  text-align: center;
  pointer-events: none;
  top: 50%;
  left: 50%;
  font-size: 14px;
  font-weight: 500;
  transform: translate(-50%, -50%);
  color: var(--white-color);
}

/* main */
