body {
  font-family: "Poppins", "Exo", sans-serif;
  background-color: var(--body-color);
  color: var(--white-color);
}

/* Poppins Font */

@font-face {
  font-family: "Poppins";
  src: url("/assets/font/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/font/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/font/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/font/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/font/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/font/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/font/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/font/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/font/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

/* Exo Font */

@font-face {
  font-family: "Exo";
  src: url("/assets/font/Exo-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Exo";
  src: url("/assets/font/Exo-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Exo";
  src: url("/assets/font/Exo-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Exo";
  src: url("/assets/font/Exo-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Exo";
  src: url("/assets/font/Exo-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Exo";
  src: url("/assets/font/Exo-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Exo";
  src: url("/assets/font/Exo-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Exo";
  src: url("/assets/font/Exo-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Exo";
  src: url("/assets/font/Exo-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

/* colors */

:root {
  --first-color-alt: hsl(219, 67%, 52%);
  --first-color: hsl(220, 67%, 56%);
  --title-color: hsl(210, 9%, 95%);
  --text-color: hsl(210, 12%, 74%);
  --text-color-light: hsl(225, 4%, 55%);
  --white-color: hsl(0, 0%, 100%);
  --body-color: hsl(240, 8%, 4%);
  --container-color: hsl(210, 5%, 7%);
}

/** header**/

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  background-color: var(--body-color);
  align-items: flex-start;
}

.logo {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shape-big {
  height: 50rem;
}

.logo-img {
  margin-left: -30rem;
  margin-bottom: 5rem;
  height: 15%;
}

.shape-big-mobil {
  display: none;
}

.header-links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 3rem;
}

.header-links a {
  display: block;
  padding: 30px 16px;
  color: var(--white-color);
  text-decoration: none;
  font-size: 16px;
  font-family: "Poppins";
  text-transform: uppercase;
  transition: all ease-in-out 100ms;
}

.header-links a :hover {
  color: var(--first-color);
}

.header-links li a:hover {
  color: var(--first-color);
}

.header-links .header-cat-button {
  padding: 10px 18px;
  margin-left: 16px;
  border-radius: 50px;
}

/*menu */

.hamburger {
  display: none;
  cursor: pointer;
  width: 34px;
}

.hamburger .bar {
  flex-basis: 100%;
  height: 4px;
  background-color: var(--white-color);
  margin: 3px;
}

/* main */
