body {
  font-family: "Poppins", sans-serif;
  background-color: var(--body-color);
  color: var(--white-color);
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/font/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/font/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/font/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/font/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("//assets/font/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/font/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/font/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/font/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/font/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
:root {
  --first-color-alt: hsl(219, 67%, 52%);
  --first-color: hsl(220, 67%, 56%);
  --title-color: hsl(210, 9%, 95%);
  --text-color: hsl(210, 12%, 74%);
  --text-color-light: hsl(225, 4%, 55%);
  --white-color: hsl(0, 0%, 100%);
  --body-color: hsl(240, 8%, 4%);
  --container-color: hsl(210, 5%, 7%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}
ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
li {
  display: contents;
  list-style: none;
}
li a {
  text-decoration: none;
  color: var(--title-color);
}
a :hover {
  color: var(--first-color);
  transition: 0.3s;
  cursor: pointer;
}
